/* TIPOS DE LETRA */
@import url(fonts.css);

/* VARIABLES */

:root {
    --tinta: black;
    --fondo: white;
    --enlace: #357a95;
    --suave: lightgray;
    --medio: gray;

    --letra: "Nunito Sans", sans-serif;
    --titulo: "Bungee Tint", sans-serif;
    --codigo: "Kode Mono", monospace;

    --espaciado: 0.5rem;

    --sombra: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.452);
}

/* RESETEO */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--letra);
    margin: 0;

    background-color: var(--fondo);
    color: var(--tinta);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titulo);
}

pre, input[type=date], input[type=datetime-local], input[type=time], input[type=week], input[type=month] {
    font-family: var(--codigo);
}

p {
    line-height: calc(1rem + var(--espaciado));

    margin: 3rem 0;
}

a {
    color: var(--enlace);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    padding: var(--espaciado);
}

pre {
    overflow: auto;

    background-color: var(--suave);
    padding: var(--espaciado);
    border-radius: 0.25rem;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0.25rem 0 1rem;
}

table {
    width: 100%;

    border-collapse: collapse;
}

img,
audio,
video {
    width: 100%;

    margin: 1rem 0;
}

.proporcion {
    position: relative;

    margin: 1rem 0;

    &.p1x1 {
        padding-bottom: 100%;
    }

    &.p4x3 {
        padding-bottom: 75%;
    }

    &.p16x9 {
        padding-bottom: calc(9 / 16 * 100%);
    }

    & iframe {
        position: absolute;

        border: 0;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* TÍTULO, MENÚ PRINCIPAL Y PIE */

h1,
body>nav ul,
footer {
    background-color: var(--tinta);
    color: var(--fondo);

    margin: 0;
    padding: 1rem;

    text-align: center;
}

body>nav {
    & ul {
        list-style: none;

        & a {
            display: inline-block;
            color: var(--fondo);

            padding: var(--espaciado);

            width: 100%;

            &:hover {
                text-decoration: none;
                background-color: var(--fondo);
                color: var(--tinta);
            }
        }
    }
}


/* TABLAS */

table {
    & thead {
        background-color: var(--tinta);
        color: var(--fondo);
    }

    & tr:nth-child(even) {
        background-color: var(--suave)
    }

    & th,
    & td {
        border: 1px solid var(--medio);

        padding: var(--espaciado);

        &:first-child {
            text-align: end;
        }

        &:not(:first-child) {
            text-align: start;
        }
    }
}

/* FORMULARIOS */

form {
    & fieldset,
    & input,
    & button,
    & textarea,
    & select {
        border: 1px solid var(--suave);

        border-radius: 0.25rem;

        padding: 0.25rem;

        width: 100%;

        margin: var(--espaciado) 0;
    }

    & fieldset {
        padding: var(--espaciado);
    }

    & button,
    & input[type=submit],
    & input[type=reset] {
        background-color: var(--suave);
    }
}

/* ANUNCIOS */

aside {
    background-color: var(--suave);

    & ul {
        list-style: none;
        text-align: center;
    
        padding: 0;
        margin: 0;
        
        & li {
            padding: 0.25rem 0;
        }
    }
}

/* PIE */

#arriba {
    position: fixed;

    bottom: 1rem;
    right: 1rem;
    
    & a {
        display: inline-block;
        padding: var(--espaciado);
    
        background-color: var(--suave);
    
        border: 1px solid var(--medio);
        border-radius: 1rem;
    
        box-shadow: var(--sombra);
    }
}
