@font-face {
    font-family: "Nunito Sans";
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: 'Bungee Tint';
    src: url(../fonts/Bungee_Tint/BungeeTint-Regular.ttf);
}

@font-face {
    font-family: "Kode Mono";
    src: url(../fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}